 *{
    padding:0;
    margin:0;
    font-family: 'Source Serif Pro', serif;
}

body{
        margin: 0 auto;
        margin-top:38px;
        background-color: black;
        overflow-x:hidden;
        margin-left: 70px;
    }
ul li{
    display: inline;
    padding-right: 25px;
    color:white;
    font-weight: 300;
}
ul{
    display: inline;
    padding-right: 80px;
    font-size: 16px;
}
nav ul li:hover{
    color:#cfa47b;
}
nav ul li a:hover{
    color:#cfa47b;
}
.gray_color a{
    text-decoration: none;
    color:rgb(158, 158, 158);
}
.font_name{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color:white;
}
#index_name a{
    text-decoration: none;
    font-weight: 600;
    font-size: 28px;
    color:#9e744d;

}

#main_text{
    margin:0;
    margin-top:70px;
    font-size: 115px;
    color: white;
}
.text{
    margin:0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.text img{
    margin:0 30px 0 30px;
}
#letterspace{
    margin-right: 30px;
}
.text p:hover{
    color:#cfa47b;
}
.light{
    font-weight: 200;
}
#footer{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 200;
    margin-top: 70px;
    justify-content: space-between;
    opacity: 50%;
}
#footer p{
    width: 210px;
    padding:0;
    margin:0;
}
#long_line{
    border-bottom: 0.2px solid gray;
    margin-top:30px;
    width: 97%;
    opacity: 30%;
}
@keyframes move{
    from{ transform: translate(0px 200px); opacity: 0%;

    }to{
        transform: translate(0px 0px); opacity:100%;
    }
}
#text1{
    animation-name: move;
    animation-duration: 5s;
}
#text2{
    animation-name: move;
    animation-duration: 10s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards
}
#text3{
    animation-name: move;
    animation-duration: 10s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards
}
#text4{
    animation-name: move;
    animation-duration: 10s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards
}

#sm p:last-child{display:none;}
#sm:hover p:first-child{display:none;}
#sm:hover p:last-child{
    display:inline-block;
    font-family:'Noto Serif KR', serif;
    font-size: 90px;}

#sabon p:last-child{display:none;}
#sabon:hover p:first-child{display:none;}
#sabon:hover p:last-child{display:inline-block;
    font-family: 'Noto Serif KR', serif;
    font-size: 90px;}
    
#linespace p:last-child{display:none;}
#linespace:hover p:first-child{display:none;}
#linespace:hover p:last-child{
    display:inline-block;
    font-family:'Noto Serif KR', serif;
    font-size: 90px;}

#fontshape p:last-child{display:none;}
#fontshape:hover p:first-child{display:none;}
#fontshape:hover p:last-child{display:inline-block;
    font-family: 'Noto Serif KR', serif;
    font-size: 90px;}

#letterspace p:last-child{display:none;}
#letterspace:hover p:first-child{display:none;}
#letterspace:hover p:last-child{
    display:inline-block;
    font-family:'Noto Serif KR', serif;
    font-size: 90px;}

#size p:last-child{display:none;}
#size:hover p:first-child{display:none;}
#size:hover p:last-child{display:inline-block;
    font-family: 'Noto Serif KR', serif;
    font-size: 90px;}
    
#weight p:last-child{display:none;}
#weight:hover p:first-child{display:none;}
#weight:hover p:last-child{
    display:inline-block;
    font-family:'Noto Serif KR', serif;
    font-size: 90px;}

#typography p:last-child{display:none;}
#typography:hover p:first-child{display:none;}
#typography:hover p:last-child{display:inline-block;
    font-family: 'Noto Serif KR', serif;
    font-size: 90px;}